mlflow==2.8.1
accelerate==0.24.1
cloudpickle==2.2.1
dill==0.3.7
numpy==1.24.4
packaging==23.2
pandas==2.0.3
protobuf==4.25.1
pydantic==2.5.2
pyyaml==6.0.1
requests==2.31.0
safetensors==0.4.1
torch==1.12.1
transformers==4.22.1